var tinyMCETemplateList = [

<!--#4DLOOP Deploy4D_TemplatesTxtArr-->
	{title: '<!--#4DTEXT Deploy4D_TemplateNamesStrArr{Deploy4D_TemplatesTxtArr}-->', description: '<!--#4DTEXT Deploy4D_TemplateDescStrArr{Deploy4D_TemplatesTxtArr}-->', content: '<!--#4DHTML Deploy4D_TemplatesTxtArr{Deploy4D_TemplatesTxtArr}-->'},
<!--#4DENDLOOP-->
   // {title: 'Reminder Template', description: 'Reminder Template', url: 'templates/reminder_template.html'},
   // {title: 'Reset Password', description: 'Reset Password', url: 'templates/reset_password_template.html'}
  ]